/* Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	background-color: $color-container-bg;
	padding: 40px 15px;
	text-align: center;
	p {
		margin-bottom: 0;
	}
}
